/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$custom-app-primary: mat.define-palette(mat.$blue-palette, 400);
$custom-app-secondary: mat.define-palette(mat.$blue-palette, A400, 700, 300);

$custom-theme: mat.define-dark-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-secondary,
  )
));

@include mat.all-component-themes($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --focused-color: #58bbfc
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


