<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HOME</span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">

    <mat-list>
      <div mat-subheader>
        <mat-icon mat-list-icon>folder</mat-icon>
        Folders
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader>
        <mat-icon mat-list-icon>people</mat-icon>
        Shared with me
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader>
        <mat-icon mat-list-icon>delete</mat-icon>
        Bin
      </div>
      <div mat-subheader id="settings-icon">
        <mat-icon mat-list-icon>settings</mat-icon>
        Settings
      </div>
      <mat-divider></mat-divider>
      <div mat-subheader id="logout-icon">
        <mat-icon mat-list-icon>logout</mat-icon>
        Logout
      </div>
    </mat-list>


  </mat-drawer>

</mat-drawer-container>


