mat-toolbar > button {
  position: absolute;
  height: 3rem;
  width: 3rem;
}

.mat-toolbar-single-row {
  height: 6vh;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  font-size: 3rem;
  text-align: center;
}

.mat-icon.notranslate.material-icons.mat-icon-no-color {
  width: 3rem;
}

span {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.example-container {
  height: 94vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 20%;
  padding: 20px;
}

mat-list {
  position: relative;
}

#settings-icon {
  margin-top: 63vh;
}
