form.example-form {
  display: flex;
  flex-direction: column;
}

mat-card#login-card {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
  width: 20rem;
  height: 15rem;
}

.mat-focused > mat-label {
  color: black !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--focused-color);
 }

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  /*change color of label*/
  background-color: var(--focused-color);
 }
