<div>
<mat-card id = "login-card">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Your e-mail" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Your password" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary">Login</button>

  </form>
</mat-card>
</div>
