<div>
<mat-card id = "login-card">
  <img src="../../assets/seagull logo.jfif" alt="">

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" id="email-field">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Your e-mail" autocomplete="off" #emailInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" id="password-field">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Your password" type="password" #passwordInput>
    </mat-form-field>

    <button mat-raised-button color="primary" type="button" id="loginButton" (click)="login()" #loginButton >Login</button>

    <p (click)="redirectRegister()">Don't have an account? Register now!</p>

  </form>
</mat-card>
</div>
